@font-face {
    font-family: 'tt-hoves';
    src: url('TT Hoves/TT Hoves Regular.otf')
}

body, html, header {
    font-family: "tt-hoves";
    margin: 0;
    padding: 0;
}

.page {
    width: 100%;
    max-width: 100%;
}

.header {
    background-color: #efefef;
    height: 310px;
    margin: 0;
    width: 100%;
}

.col-2 {
    width: 50%;
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
}

.col-4 {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}

table {
    border-collapse: collapse;
}

td.spacer {
    width: 10px;
    display: inline-block;
}

img.hero-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 2.7%;
    margin-bottom: 20px;
    margin-left: 112px;
    padding-top: 85px;
}

.property-details {
    margin-left: 108px;
    padding-top: 70px;
}

.property-name-address {
    width: fit-content;
    height: fit-content;
}

.property-name {
    font-weight: 100;
    font-size: 48px;
}

.property-address {
    font-weight: 200;
    font-size: 17px;
    line-height: 42px;
    color: #5C5A66;
}

.property-id-specs {
    margin-top: 21px;
    width: 620px;
}

.property-id-specs div table td {
    line-height: 38px;
}

.property-id-specs div table tr td:nth-of-type(4),
.property-id-specs div table tr td:nth-of-type(5) {
    font-weight: bold;
}

.specs-left, .specs-right {
    width: 49.5%;
    display: inline-table;
    vertical-align: middle;
}

.property-id-specs table td {
    vertical-align: middle;
}

.property-id-specs table td.details {
    font-weight: 600;
}

.icon-24 {
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    margin-right: 8px;
    width: 24px;
}

.icon-21 {
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    margin-right: 8px;
    width: 21px;
}

.market {
    background-image: url("graphics/market.png");
}

.submarket {
    background-image: url("graphics/submarket.png");
}

.clock {
    background-image: url("graphics/clock.png");
}

.ruler {
    background-image: url("graphics/ruler.png");
}

.phone {
    background-image: url("graphics/phone.png");
}

.email {
    background-image: url("graphics/email.png");
}

.unit-specs-container {
    display: block;
    height: 447px;
    margin-left: 101px;
    margin-top: 55px;
    max-height: 447px;
    min-height: 447px;
}

.unit-specs-title {
    font-size: 28px;
    font-weight: 800;
}

.unit-specs-items {
    display: table;
    height: 400px;
    margin-left: 4px;
    margin-top: 19px;
    width: 100%;
}

.unit-specs-items > div {
    border-bottom: 1.5px dashed #ccc;
    clear: right;
    display: inline-block;
    float: left;
    margin-right: 79px;
    width: 520px;
}

.unit-specs-items div span {
    font-size: 24px;
    line-height: 43px;
    padding-bottom: 0;
    padding-top: 10px;
    vertical-align: bottom;
}

.unit-specs-items div span:nth-of-type(1) {
    display: inline-block;
    font-weight: 100;
    width: 290px;
}

.unit-specs-items div span:nth-of-type(2) {
    display: inline-block;
    font-weight: 900;
    width: 230px;
}

div.full-width {
    display: block;
    height: 3px;
    width: 100%;
}

.agent-bar {
    background-color: #efefef;
    display: inline-block;
    height: 127px;
    margin-bottom: 0;
    min-width: 100%;
    padding-bottom: 0;
    width: 100%;
}

.av-1 {
    width: 8%;
}

.av-2 {
    width: 17%;
}

.av-3 {
    width: 19%;
}

.av-4 {
    width: 5%;
}

.av-4:nth-of-type(2) {
    width: 4%;
}

.agent-details {
    margin-left: 12px;
}

div.avatar {
    display: table-cell;
    padding-left: 0;
    padding-right: 7px;
}

div.agent-1 {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 70px;
    width: 70px;
}

div.agent-2 {
    background-image: url("graphics/agent-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 70px;
    margin-left: 30px;
    width: 70px;
}

.agent-bar div {
    display: table-cell;
}

.agent-bar div:first-of-type div:first-of-type {
    display: table-cell;
    width: contain;
}

.agent-bar div div:nth-of-type(4) {
    display: table-cell;
    height: 80px;
    vertical-align: middle;
}

div.divider div {
    border-left: 1.67px solid #bbbbbb;
    height: 95px;
    margin-top: 6px;
    position: relative;
}

.agent-bar > table {
    height: 100%;
    margin-left: 7%;
    margin-right: 0;
    width: 93%;
}

.agent-name {
    font-size: 19px;
    font-weight: 800;
}

.agent-title {
    font-size: 15px;
    line-height: 28px;
    color: #5a5a5a;
}

table.agent-contact {
    margin-top: 0px;
    width: 275px;
}

table.agent-contact tr td {
    line-height: 30px;
}

.agent-contact > span {
    font-size: 12px;
    display: table-cell;
}

.avatar div {
    display: inline-block;
    width: 53px;
}

div.agent-contact table {
    margin-right: 15px;
}

div.agent-contact table tr > td {
    font-size: 12px;
    line-height: 25px;
    padding-top: 0px;
}

div.divider {
    border-right: 1px solid #cccccc;
    width: 2px;
    height: 98px;
}

.footer {
    display: inline-block;
    margin-top: 0;
    padding: 0;
    width: 100%;
}

.footer td {
    display: table-cell;
    height: 80px;
    margin: auto;
    vertical-align: middle;
}

.footer table {
    height: 80px;
    margin-top: 0;
    padding: 0;
    width: 100%;
}

.footer td.title {
    color: #252429;
    font-size: 21px;
    line-height: 68px;
    text-align: center;
    vertical-align: middle;
    width: calc(100% - 400px);
}

.footer td:nth-of-type(1) {
    width: 200px;
}

.footer div.link-logo {
    height: 100%;
    background-image: url("graphics/link-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    display: inline-block;
    margin: auto;
    padding-left: 40px;
    height: 27px;
    width: 106px;
}

.footer td.page-num {
    width: 200px;
    text-align: right;
    padding-right: 30px;
}

.footer td.page-num span {
    color: #A5A5A5;
    font-size: 20px;
    font-weight: 900;
    vertical-align: middle;
    margin-right: 40px;
}
